---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@use "sass:color";
@use 'variables' as *;
@use 'globals';

/* icons */
@font-face {
  font-family: 'icons';
    src: url('/fonts/icons.eot');
    src: url('/fonts/icons.eot#iefix') format('embedded-opentype'),
    url('/fonts/icons.woff') format('woff'),
    url('/fonts/icons.ttf') format('truetype'),
    url('/fonts/icons.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
}
.icon-facebook:before { content: '\e802'; }
.icon-facebook-squared:before { content: '\e800'; }
.icon-twitter:before { content: '\e801'; }
.icon-twitter-1:before { content: '\e804'; }
.icon-facebook-circled:before { content: '\e805'; }
.icon-twitter-circled:before { content: '\e806'; }
.icon-facebook-rect:before { content: '\e803'; }


/* Typography */

@import url('https://fonts.googleapis.com/css?family=Martel:900|Roboto:300,300i,700,700i|Merriweather:900i&display=swap');

// Bootstrap classes //

.noBorder {
    border: 0;
}
.navbar {
    padding: 45px 0 20px 0;
    background-color: #fff;
    transition: padding 0.4s;
}
.navbar-default {
    background-color: #fff;
    border-color: #e7e7e7;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 4px;
    border: 1px solid transparent;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
    

.brandStyle {
    color: $grey-color-brand;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 20px;
}

.navbar-header a {
    text-decoration: none;

    &:visited {
        color: $grey-color-brand;
    }
}

.brandStyle a:hover {
    text-decoration: none;
    color: #33cc33;
}

//Media queries//
    
 @media (min-width: 1200px) {  
.container {
    width: 1170px;
        } 
    }

    @media (min-width: 992px) {
.container {
    width: 970px;
}
    }

@media (max-width: 600px) {
    
    .brandStyle {
        font-size: 1.8rem;
    }
    
    p {
        font-size: 1.1rem;
    }
    
    .post h1 {
        font-size: 2.1rem;
        line-height: 2.7rem;
    }
    
    article li {
        font-size: 1.1rem;
    }
    
    .title {
    color: $grey-color-brand;
    font-size: 1em;
    }
    
    .subtitle {
    font-size: 1rem;
    margin-top: -1.2em;
    }

    ul.tag-group {
    margin-bottom: 1rem;
    }
}
    
 /*   @media (min-width: 768px) {
.container {
    width: 750px;
}
    }
*/
 /*   @media (min-width: 768px) {
.desc, .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: -15px;
}
        
    }
*/

