---
layout: default
title: Reading
---
<h1>{{ page.title }}</h1>

<p>I started this reading list at the beginning of 2019. It includes books I've started or completed since the beginning of that year.</p>

<p>I prefer to read analog books, but I increasingly listen to audiobooks. Audiobooks are marked with 🎧.</p>

<!--Anchor nav for years, but only if more than one exists-->
{% assign bookYears = site.data.books.list | size %}
{% if bookYears > 1 %}
<ul class="tag-group">
  {% for entry in site.data.books.list %}
      <a href="#{{entry.year}}-books"><li class="tags">{{ entry.year }}</li></a>
  {% endfor %}  
</ul>
{% endif %}

<!--Subheadings for each year and number of books for that year-->
{% for entry in site.data.books.list %}
  <div>
    <div class="line-header">
      {% assign bookSize = entry.books | size %}
      {% if bookSize == 1 %}
        <h2 id="{{entry.year}}-books">{{ entry.year }}</h2><span class="details">{{ bookSize }} book</span>
      {% elsif bookSize > 1 %}
        <h2 id="{{entry.year}}-books">{{ entry.year }}</h2><span class="details">{{ bookSize }} books</span>
      {% else %}
        <h2 id="{{entry.year}}-books">{{ entry.year }}</h2><span class="details">I haven't read any books this year. So far.</span>
      {% endif %}
    </div>  
    <div>
      <!--Books for each year-->
      <ul class="book-list">
        <!--Sorts books in progress in DOM-->
        {% assign in_progress = entry.books | where: "completed", "In progress" %}
        {% for book in in_progress %}
          {% include book-item.html %}
              <p class="post-meta">
                <span>Status: </span><span style="color: #EB002B">{% if book.format == 'audiobook' %} 🎧 {{ book.completed }}{% else %} 📖 {{ book.completed }}{% endif %} {% if book.progress %}<span class="book-author">{{ book.progress }}%</span>{% endif %}</span>
              </p>
            </li>
        {% endfor %}
        {% for book in entry.books %}
        <!--Books that aren't in progress-->
        {% unless book.completed == "In progress" %}
          {% include book-item.html %}
                <p class="post-meta"> 
                  {% if book.completed == 'Abandoned' %}
                    <span>Status: </span><span style="color: #EB002B">{{ book.completed }} ¯\_(ツ)_/¯ </span>
                  {% elsif book.completed == 'Next' %}
                    <span>Status: </span><span style="color: #026431">📚 Next up</span>    
                  {% else %}
                    <span>Date completed: </span>{{ book.completed | date: "%B %-d, %Y" }}
                  {% endif %}
                  {% include book-format.html %}
                </p>
              </div>
            </div> 
          </li>
        {% endunless %}   
        {% endfor %}   
      </ul>
    </div>
  </div>
{% endfor %}