---
layout: default
title: Books
---
<h1>Books</h1>

<p>I started this book list at the beginning of 2019. It includes books I've started or completed since the beginning of that year.</p>

<ul class="book-list">
{% for book in site.data.books %}
  <li>
  <div class="book-item">
    <a href="{{ book.link }}"><img class="cover" src="{{ book.image }}" alt="{{ book.title }}" /></a>
    <div class="book-info">
      <h2><a class="book-title" href="{{ book.link }}">{{ book.title }}</a></h2>
      <p>{{ book.description }}</p>
      <p class="post-meta">Date completed:      
        {% if book.completed == 'In progress' %}
          <span style="color: #e71c4f">📖 {{ book.completed }}</span>
        {% else %}
          {{ book.completed | date: "%B %-d, %Y" }}
        {% endif %}  
      </p>
    </div>
  </div> 
  </li>
{% endfor %}
