
<header>
		<nav class="navbar navbar-default noBorder" role="navigation">
			<div class="container">
				
				<div class="navbar-header">

                    <h1><a class="title" href="{{ site.baseurl }}/">Ryan Johnson</a></h1>
                    <p class="subtitle">Web editor and content strategist working in local government</p>
                    
                     
				</div>
                
                    
                
            </div> 
            
            
		</nav>
   
                
</header>