
<header>
		<nav class="navbar navbar-default noBorder" role="navigation">
			<div class="container">
				
				<div class="navbar-header">

                   <a class="navbar-brand brandStyle" href="{{ site.baseurl }}/">Ryan Johnson</a>
                    <p>Web editor and content strategist working in local government</p>
                     
                     
				</div>
                
                    
                
            </div> 
            
            
		</nav>
   
                
</header>