
<header>
		<nav class="navbar navbar-default noBorder" role="navigation">
			<div class="container">
                <a href="{{ site.baseurl }}/">
                    <img src="{{ site.baseurl }}/assets/images/header-thumb.png" alt="Decorative paint strokes with faint image of man writing at a desk" class="header-thumb" />
                    <div class="navbar-header">
                        <h2 class="brandStyle">Ryan Johnson</h2>
                        <p class="sub-2">digital work, analog life</p>
                </a>
                    </div>
                
                <!--<div class="navbar-header">
                    <a class="brandStyle" href="{{ site.baseurl }}/">Ryan Johnson</a>
                    <p class="post-subtitle">digital work, analog life</p>                  
				</div>-->
               
            </div>           
		</nav>                
</header>