
<header>
		<nav class="navbar navbar-default noBorder" role="navigation">
			<div class="container">
				
				<div class="navbar-header">

                    <a class="brandStyle" href="{{ site.baseurl }}/">Ryan Johnson</a>
                    <p class="post-subtitle">Web editor and content strategist working in local government</p>
                    
                     
				</div>
                
                    
                
            </div> 
            
            
		</nav>
   
                
</header>