<div class="map" id="{{ page.map-id }}"></div>

<script>
    var {{ page.map-var }} = L.map('{{ page.map-id }}').setView([{{ page.lat }}, {{ page.long }}], {{page.zoom}});
    var marker = L.marker([{{ page.lat }}, {{ page.long }}]).addTo({{ page.map-var }});

    L.tileLayer('https://stamen-tiles.a.ssl.fastly.net/terrain/{z}/{x}/{y}.jpg', {
	attribution: 'Map tiles by Stamen Design, under CC BY 3.0. Data by OpenStreetMap, under ODbL.',
	subdomains: 'abcd',
	maxZoom: 19
    }).addTo({{ page.map-var }});

    marker.bindPopup("<strong>{{ page.popup-title }}</strong><br>{{ page.popup-text }}");

</script>