<div class="map" id="{{ page.map-id }}"></div>

<script>
    var {{ page.map-var }} = L.map('{{ page.map-id }}').setView([{{ page.lat }}, {{ page.long }}], {{page.zoom}});
    var marker = L.marker([{{ page.lat }}, {{ page.long }}]).addTo({{ page.map-var }});

    L.tileLayer('https://maps.heigit.org/openmapsurfer/tiles/roads/webmercator/{z}/{x}/{y}.png', {
	maxZoom: 19,
	attribution: 'Imagery from <a href="http://giscience.uni-hd.de/">GIScience Research Group @ University of Heidelberg</a> &mdash; Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo({{ page.map-var }});

    marker.bindPopup("<strong>{{ page.popup-title }}</strong><br>{{ page.popup-text }}");

</script>