.sparkline {
    fill: none;
    stroke: #000;
    stroke-width: 0.75px;
  }
  .sparkcircle {
    fill: #1478a6;
    stroke: none;
  }

  .spark-data {
    color: #1478a6;
    font-size: 1rem;
    font-weight: 500;
  }