/**
 * Site header
 */

.header-intro {
    font-size: 18px;
    color: #606060;
}

.header-intro p {
    font-weight: 400;
}

.header-intro h2 {
    
    font-size: 1.5em;
}

.header-intro a, .header-intro a:visited {
    color: #000;
}

.header-intro a:hover {
    color: $brand-color;
    text-decoration: none;
}

.site-header {
    margin-bottom: 21px;
    position: relative;
    // margin: 0 auto;
    text-align: center;
    max-width: 1024px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 6px;
}

.site-header a.site-title {
    color: #fff;
    text-align: center;
}

.site-title {
    position: relative;
    padding: 1em 0;
    display: block;
    font-weight: 600;
    left: 60px;

    &,
    &:visited, &:hover {
        text-decoration: none;
        color: #7923D5;
    }
}

a .site-title {
    color: #5badf0;
    color: #5694f1;
}

.page-link {
    display: inline-block;
    line-height: 100%;
    font-size: 14px;
    margin: 0;
    margin-bottom: 20px;
    font-size: 17px;
}

nav.site-nav {
    float: right;
    height: 100%;
    margin: 19px 15px;

    .page-link {
        color: #fff;
        font-size: 14px;
        font-weight: 600;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    a.page-link {
        text-decoration: underline;
    }
}

/* About page styles */

.about {
    margin: auto;
    max-width: 700px;
    padding: 0.5em;
}

.about h2 {
    margin-top: 1em;
    font-size: 2em;
}

.about-image {
    margin-top: -1em;
}


/**
 * Site footer
 */
.site-footer {
    // box-shadow: inset 0 1px 0 #DFE1E4;
    padding: 40px 0 0 0;
    margin-top: 100px;
}

.site-footer p {
    color: #606060;
    font-size: 14px;
    line-height: 1.5;
    display: block;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}


/**
 * Page content
 */

.page-heading {
    font-size: 20px;
}

#post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit / 1.5;
    }
}


#post-list a {
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
}

/*=========================================
Post List and items
=========================================== */
#post-list,#archive-list {
    margin-top: 1rem;
}

#post-list li,#archive-list li {
    list-style-type: none;
}

#post-list li:last-child {
    margin-bottom: 0;
}

#post-list li+li {
    padding-top: $spacing-unit / 1.4;
}

#post-list a {
    color: #333;
    text-decoration: none;
    display: block;
    font: 600 21px/1.5 $base-font-family;
}

#post-list a:hover {
    color: $brand-color-light;
}


#post-list h2 {
    font: 800 1.3em $base-font-family;
    max-width: 500px;
    margin-top: 2px;
    margin-bottom: .2em;
}

#post-list h3 {
    font: normal 19px/1.5em $base-font-family;
    color: #878787;
    max-width: 500px;
    margin-top: 2px;
}


#intro-text {
    padding-top: 10px;
}

#post-list .dates {
    float: right;
    position: relative;
    top: 1px;
    font: 300 17px/1.8 $base-font-family;
    color: #878787;
}

#post-list-footer {
    border-top: 1px solid #DFE1E4;
    margin-top: 20px;
    padding-top: 100px;
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
    margin-top: -1em;
}

.post-link {
    display: block;
    font-size: 24px;
}

/* Links */

.post a:hover {
    color: brand-color-light;
}

/**
 * Posts
 */

.post-title {
    letter-spacing: -1px;
    line-height: 1.2;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 30px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 24px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.post aside {
    background-color: $grey-color-light;
    padding: 1.2em;
    margin: 1em 0;
    border-radius: 12px;
}

.related {
    padding: 1.2em 0 5em 0;
}
.related li {
    list-style: none;
}
.related li .post-meta {
    font-size: 15px;
}
.related a {
    text-decoration: none;
    color: $brand-color;
}

.related a:hover {
    color: $brand-color-light;
}

// Tags

.tag-group {
    margin: -.7rem 0 2.5rem 0;
}

.tags {
    display: inline-block;
    color: #fff;
    font-size: 0.8em;
    font-weight: 500;
    list-style: none;
    background-color: #0077b3;
    margin-right: .3rem;
    padding: 0.2em 0.5em ;
    border-radius: 0.4em;
}

.tag-group a {
    color: #fff;
    text-decoration: none;
}

    
.post-date {
    top: 1px;
    font: 300 17px/1.8 $base-font-family;
    color: #878787;
}


// PAGINATION
.pagination {
    border-top: 1px solid #eee;
    margin-top: 50px;
    padding-top: 20px;
}

.pagination-link {
    display: inline-block;
    color: #29353a;
    font-size: 1em;
    font-weight: bold;
    padding: 7px 18px 6px;
    text-decoration: none;
}

.next {
    float: right;
}

.pagination-link:hover {
    text-decoration: none;
    color: #0099e6;
}

span.arrow {
    position: relative;
    top: 0;
    font-size: 1em;
}
