// Using media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit * .5;
//         padding-left: $spacing-unit * .5;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}
