<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body> 
<div class="about-image">
  <div class="header-badge">
    <h1>
      Ryan Johnson
    </h1>
    <p>digital work / analog life</p>
  </div>
</div>  
<div style="position: fixed; right: 0; bottom: 0; border: 0; pointer-events: none; width: 250px" >
  <img src="assets/images/hike-profile-iso.png" alt=""/>
  </div>

  <div class="wrapper">
    <div class="page-content">
      {{ content }}
    </div>
</div>
  {% include footer.html %}    
</div>
      
  </body>

</html>

