---
layout: default
---
<div class="post">      

  <header class="post-header">
    <h1 class="post-title">{{ page.title | smartify }}</h1>
    <p class="post-meta">{{ page.date | date: "%B %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>
    
<!-- tags-->
<ul class="tag-group">
    {% for tag in page.tags limit:5 %}
      <li class="tags"><a href="/tags#{{tag}}">{{ tag }}</a></li>    
    {% endfor %}
  </ul> 
         
<!--end tags-->    

  <article class="post-content">
    {{ content }}
  </article>

  <hr>

{% capture category %}{{ page.categories | first }}{% endcapture %}
  <div class="related">
    <h2>Related</h2>
    <ul class="unmargin">
  {% for post in site.categories[category] limit: 5 %}
    {% unless post.url == page.url %}
      <li>
        <a href="{{ post.url | relative_url }}">{{ post.title | smartify }}</a>
        &nbsp; <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
      </li>
    {% endunless %}    
  {% endfor %}
    </ul>
  </div>
  <div class="post-navigation">
    <h2>Continue reading</h2>
    {% if page.previous.url %}
      <a class="prev" href="{{page.previous.url}}">←  {{page.previous.title}}</a>
    {% endif %}
    {% if page.next.url %}
      <a class="next" href="{{page.next.url}}">{{page.next.title}} →</a>
    {% endif %}
  </div>
</div>
