---
layout: default
---
<div class="post">      

  <header class="post-header">
    <h1 class="post-title">{{ page.title | smartify }}</h1>
    <p class="post-meta">{{ page.date | date: "%B %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>
    
<!-- tags-->
<ul class="tag-group">
    {% for tag in page.tags limit:5 %}
    <a href="/tags#{{tag}}"><li class="tags">{{ tag }}</li></a>     
    {% endfor %}
  </ul> 
         
<!--end tags-->    

  <article class="post-content">
    {{ content }}
  </article>

  <hr>

  <div class="related">
    <h2>Recent</h2>
    {% for post in site.related_posts limit:3 %}
      <li><a href="{{site.url}}{{ post.url }}" title="{{ post.title }}">{{ post.title | smartify }}</a>
       &nbsp; <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
    {% endfor %}
  </div>

    


</div>
